astropy==7.0.1
astropy-iers-data==0.2025.4.7.0.35.30
contourpy==1.3.1
cycler==0.12.1
einsteinpy==0.4.0
fonttools==4.57.0
kiwisolver==1.4.8
llvmlite==0.44.0
matplotlib==3.10.1
mpmath==1.3.0
narwhals==1.34.1
numba==0.61.2
numpy==2.2.4
packaging==24.2
pillow==11.1.0
plotly==6.0.1
pyerfa==2.0.1.5
pyparsing==3.2.3
python-dateutil==2.9.0.post0
PyYAML==6.0.2
scipy==1.15.2
six==1.17.0
sympy==1.13.3
